alembic
aniso8601
async-timeout
attrs
blinker
cachelib==0.9.0
certifi
charset-normalizer
click
colorama
decorator
Deprecated
exceptiongroup
Flask
Flask-Caching==2.1.0
Flask-Cors
Flask-JWT-Extended
Flask-Limiter
Flask-Migrate
flask-restx
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
importlib-metadata
importlib-resources
iniconfig
itsdangerous
Jinja2
jsonschema
limits
lxml
Mako
markdown-it-py
MarkupSafe
mdurl
ordered-set
packaging
Pillow
pluggy
psycopg2-binary
Pygments
PyJWT
pypng
pyrsistent
pytest
python-decouple
python-dotenv
pytz
qrcode
requests
rich
six
SQLAlchemy
tomli
typing-extensions
urllib3
validators
Werkzeug
wrapt
WTForms
zipp
